{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}


{% block main %}
      <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Presupuesto</h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>

	        <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Crear Presupuesto</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br />
                    <form class="form-horizontal form-label-left input_mask" id="crearProducto" >
                    {% csrf_token %}

                      <input type="hidden" id="idCliente">

                      <div class="col-xs-12 form-group has-feedback">
                        <input type="text" class="form-control has-feedback-left" id="cliente" placeholder="Cliente">
                        <span class="fa fa-search form-control-feedback left" title="Cliente" aria-hidden="true"></span>
                        <br>
                        <!-- INFORMACION DE LA EMPRESA SELECCIONADA -->
                        <div id="infocliente" style="display:none">
                          <label for="">Empresa: </label> <strong id="nEmpresa">Teset</strong><br>
                          <label for="">CIF: </label> <strong id="nCIF">Teset</strong><br>
                          <label for="">Teléfono: </label> <strong id="nTel">Teset</strong>

                        </div>
                      </div>

                     <div class="col-xs-12 form-group has-feedback">
                        {{form.producto}}
                        <span class="fa fa-folder form-control-feedback left" title="Cliente" aria-hidden="true"></span>
                        <br>
                        <!-- INFORMACION DE LA EMPRESA SELECCIONADA -->
                      </div>

                    <div class="col-xs-12 form-group has-feedback">
                      <table class="table">
                        <thead>
                          <th>Selecionar</th>
                          <th>Nombre</th>
                          <th>Url</th>
                        </thead>
                        <tbody id="Ctemplates"></tbody>
                      </table>
                    </div>
                 

                      <div class="form-group right">
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <label for="">Monto: </label> <strong id="monto"></strong>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <button type="button" class="btn btn-primary">Cancelar</button>
                          <button type="submit" class="btn btn-success" disabled="disabled">Crear</button>
                        </div>
                      </div>

                    </form>

                  </div>
                </div>
				</div>
			</div>
      </div>
{% endblock main %}	





{% block script_link %}
  
      <!-- bootstrap-progressbar -->
    <script src="{% static "vendors/bootstrap-progressbar/bootstrap-progressbar.min.js" %}"></script>
   
{% endblock script_link %}


{% block script_code %}
  
 <script src="{% static "js/presupuesto.js" %}"></script>


<div id="modalCliente">
  gdfdfgdg
</div>

{% endblock script_code %}


